@model CONCURSO_INTERNO_PERSONAL.Models.VMPresupuesto.PresupuestoVM;
@{
    ViewData["Title"] = "SolicitarSueldo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-sm card border-3 m-5">

    <h1 class="p-2">Generar Solicitud de Presupuesto</h1>

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <form asp-action="SolicitarSueldo" asp-controller="Presupuesto" method="post" class="was-validated" novalidate>
                <input type="hidden" asp-for="oSolicitudSueldo.IdSolicSueldo"/>
                <div class="mb-5 position-relative">
                    <label class="form-label fw-bold" asp-for="oSolicitudSueldo.Idpersonal">Dni Postulante</label>
                    <select class="form-select form-select-sm" asp-for="oSolicitudSueldo.Idpersonal" asp-items="@Model.oListaPersonal" id="validationTooltip01" required>
                        <option value="">----Seleccionar----</option>
                    </select>
                    <div class="invalid-tooltip">
                        Se requiere seleccionar un postulante
                    </div>
                </div>
                <div class="mb-5 position-relative">
                    <label for="validationTooltip1" class="form-label fw-bold" asp-for="oSolicitudSueldo.SueldoSolic">Sueldo Solicitado</label>
                    <input class="form-control form-control-sm" id="validationTooltip02" asp-for="oSolicitudSueldo.SueldoSolic" value="" type="text" required />
                    <div class="invalid-tooltip">
                        Por Favor Ingresar el sueldo solicitado
                    </div>
                </div>
                <div class="mb-5 position-relative">
                    <label for="validationTooltip1" class="form-label fw-bold" asp-for="oSolicitudSueldo.Descripcion">Motivo:</label>
                    <input class="form-control form-control-sm" id="validationTooltip03" asp-for="oSolicitudSueldo.Descripcion" type="text" required />
                    <div class="invalid-tooltip">
                        Por Favor Ingresar un motivo
                    </div>
                </div>
                <div class="mb-2">

                    <button class="btn btn-primary btn-sm w-25" type="submit">Solicitar</button>

                    <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>

                </div>

            </form>
        </div>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
        var successMessage = '@Html.Raw(TempData["SuccessMessage"])';

        if (errorMessage !== '') {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: errorMessage,
            });
        }
        if (successMessage !== '') {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: successMessage,
            });
        }
    });
</script>