@model CONCURSO_INTERNO_PERSONAL.Models.SolicitudSueldo
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPDF</title>
</head>
<body>
    <p>esta es una solicitud aceptada al con una cantidad de @Model.SueldoSolic</p>

</body>
</html>