@model CONCURSO_INTERNO_PERSONAL.Models.VMPersonal.PersonalVM;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-sm card border-3 m-5">
    @if (Model.oPersonal.Idpersonal == 0)
    {
        <h1 class="p-2 mb-4">Ingresar Nuevo Postulante</h1>
    }
    else
    {
        <h1 class="p-2">Editar Datos del Postulante</h1>
    }
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <form class="row g-6 needs-validation was-validated" novalidate asp-action="AdministrarPersonal" asp-controller="SeleccionPersonal" method="post">
                <input type="hidden" asp-for="oPersonal.Idpersonal" />

                <div class="col-md-4 mb-5 position-relative">
                    <label for="Idni" class="form-label fw-bold">DNI</label>
                        <input id="Idni" required class="form-control form-control-sm" asp-for="oPersonal.Dni" type="text" pattern="[1-9]\d{7}" maxlength="8" />
                    <div class="invalid-tooltip">
                        DNI incorrecto
                    </div>
                </div>

                <div class="col-md-8 mb-5 position-relative">
                    <label class="form-label fw-bold">Postulante</label>
                    <input class="form-control form-control-sm" asp-for="oPersonal.NombapePers" pattern="^[A-Za-z ]+$" placeholder="Nombre Apellido" type="text" id="validationTooltip07" required />
                    <div class="invalid-tooltip">
                        Ingresar Nombre Postulante
                    </div>
                </div>

                <div class="col-md-6 mb-5 position-relative">
                    <label class="form-label fw-bold">Puesto</label>
                    <select class="form-select form-select-sm" asp-for="oPersonal.IdPuesto" asp-items="@Model.oListaPuesto" id="validationTooltip08" required>
                        <option value="">----Seleccionar----</option>
                    </select>
                    <div class="invalid-tooltip">
                        Seleccionar Puesto
                    </div>
                </div>

                <div class="col-md-6 mb-5 position-relative">
                    <label class="form-label fw-bold">Habilidades Blandas</label>
                    <select class="form-select form-select-sm" asp-for="oPersonal.IdHb" asp-items="@Model.oListaHabilidadesBlandas" id="validationTooltip01" required>
                        <option value="">----Seleccionar----</option>
                    </select>
                    <div class="invalid-tooltip">
                        Seleccionar Hab. Blanda
                    </div>
                </div>

                <div class="mb-5 position-relative">
                    <label class="form-label fw-bold">Conocimientos Laborales</label>
                    <select class="form-select form-select-sm" asp-for="oPersonal.IdCl" asp-items="@Model.oListaConocimientosLaborales" id="validationTooltip02" required>
                        <option value="">----Seleccionar----</option>
                    </select>
                    <div class="invalid-tooltip">
                        Seleccionar Con. Laboral
                    </div>
                </div>

                <div class="mb-5 position-relative">
                    <label class="form-label fw-bold">Referencias Laborales</label>
                    <input class="form-control form-control-sm" asp-for="oPersonal.RefeLaboral" placeholder="EMPRESA S.A." type="text" id="validationTooltip03" required />
                    <div class="invalid-tooltip">
                        Ingresar Referencias
                    </div>
                </div>

                <div class="col-md-6 mb-5 position-relative">
                    <label class=" form-label fw-bold">Nota Prueba</label>
                        <input class="form-control form-control-sm" asp-for="oPersonal.Ppc" type="text" id="Ppc" pattern="^(?:[1-9]|1[1-9]|10|20)$" required />
                    <div class="invalid-tooltip">
                        Ingresar Nota Válida
                    </div>
                </div>

                <div class="col-md-6 mb-5 position-relative">
                    <label class="form-label fw-bold">Nota CV</label>
                        <input class="form-control form-control-sm" asp-for="oPersonal.Pcv" type="text" id="Pcv" pattern="^(?:[1-9]|1[1-9]|10|20)$" required />
                    <div class="invalid-tooltip">
                        Ingresar Nota Válida
                    </div>
                </div>

                <div class="col-md-6 mb-5 position-relative">
                    <label class="form-label fw-bold">Nota de Entrevista</label>
                        <input class="form-control form-control-sm" asp-for="oPersonal.Pentrevista" type="text" id="Pentrevista" pattern="^(?:[1-9]|1[1-9]|10|20)$" required />
                    <div class="invalid-tooltip">
                        Ingresar Nota Válida
                    </div>
                </div>
                <div class="mb-2">

                    @if (Model.oPersonal.Idpersonal == 0)
                    {
                            <button class="btn btn-primary btn-sm w-25" type="submit">Generar</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                    }
                        <a class="btn btn-secondary btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
                    <a class="btn btn-dark btn-sm" asp-action="TablaPerfiles" asp-controller="PerfilPuesto">Análisis Comparativo</a>

                </div>

            </form>
        </div>
    </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        $(document).ready(function () {
            var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';

            if (errorMessage !== '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                });
            }
        });
    </script>
</body>

</html>
