@model CONCURSO_INTERNO_PERSONAL.Models.VMPerfil_Puesto.Perfil_Puesto_VM 


    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<h1>PERFIL DE PUESTO</h1>
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Perfil_Puest_detalle" asp-controller="PerfilPuesto" method="post">




            <div class="mb-2">
                <label class="form-label">Habilidades Blandas</label>
                <input class="form-control form-control-sm" asp-for="oPerfilPuesto.oPuesto.NomPuesto" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label">Habilidades Blandas</label>
                <input class="form-control form-control-sm" asp-for="oPerfilPuesto.oSede.NomSede" type="text" />
            </div>
            <div class="mb-2">
                <label class="form-label">Habilidades Blandas</label>
                <input class="form-control form-control-sm" asp-for="oPerfilPuesto.oHabilidadesBlandas.NomHb" type="text" />
            </div>
            <div class="mb-2">
                <label class="form-label">Conocientos Laborales</label>
                <input class="form-control form-control-sm" asp-for="oPerfilPuesto.oConocimientosLaborales.NomCl" type="text" />
            </div>





            <button type="submit" class="btn btn-primary">guardar</button>


        </form>

    </div>
</div>

