@model CONCURSO_INTERNO_PERSONAL.Models.VMPrueba.PruebaVM

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/estilos_prueba_input.css">
 
</head>
<body>
    <div>
        <div>

            <form asp-action="Pregunta_detalle" class="crear_preguntas" asp-controller="Prueba" method="post">


                <div class="">
                    <div class="crearPregunta_input">
                        <label>Pregunta</label>
                        <input asp-for="Prueba.oPregunta.Enunciado" type="text" />
                    </div>
                    <div class="crearPregunta_input">
                        <label>Respuesta A</label>
                        <input asp-for="Prueba.oPregunta.OpcionA" type="text" />
                    </div>
                    <div class="crearPregunta_input">
                        <label>Respuesta B</label>
                        <input asp-for="Prueba.oPregunta.OpcionB" type="text" />
                    </div>
                    <div class="crearPregunta_input">
                        <label>Respuesta C</label>
                        <input asp-for="Prueba.oPregunta.OpcionC" type="text" />
                    </div>
                    <div class="crearPregunta_input">
                        <label>Respuesta D</label>
                        <input asp-for="Prueba.oPregunta.OpcionD" type="text" />
                    </div>
                </div>

                <div>
                    <div class="crearPregunta_input">
                        <label>Respuesta Corecta</label>
                        <input f asp-for="Prueba.oPregunta.RespuestaCorrecta" type="text" />
                    </div>
                    <div class="crearPregunta_input">
                        <label asp-for="Prueba.Puntaje">Puntaje</label>
                        <input asp-for="Prueba.Puntaje" type="text" />
                    </div>
                </div>






                <div>
                    <button type="submit">Guardar</button>
                </div>


            </form>

        </div>
    </div>
</body>
</html>
