
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
body {
    background: #faf8f5;
}
main{
    display:flex;
    justify-content:center;
    align-items:center;
}

.perfilPuesto_form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contendor_perfil-puesto {
    background: #f5f5f5;
    border: 1px solid rgb(0, 0, 0, 0.3);
    margin: 15px;
    width: 550px;   
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: .75rem;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    font-size: .875rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
.inputs-perfilPuesto label {
    color: #374151;
    font-size: 14px;
    margin: 0px 0px 8px;
}
.inputs-perfilPuesto select {
    color: #20242f;
    font-size: 14px;
    width: 400px;
    padding: 12px;
    border-radius: 4px;
    margin-bottom:20px;
}

.perfilPuesto_botones{
    margin-top:20px;
    width:600px;
    display:flex;
    justify-content:center;
    
}

.perfilPuesto_botones .botton-1 {
        background: #029052;
        border:none;
}
    .perfilPuesto_botones .botton-2 {
        padding: 10px 0;
        background: #1E71B4;
        border: none;
    }
    .perfilPuesto_botones .botton-3 {
        
        background: #612466;
        border: none;
    }

.titulo_formulario h1 {
    color:#444;
    
    padding-bottom:10px;
    display: inline-block;
    border-bottom: 1px solid #666;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}