html {
  font-size: 14px;
}
.us{
    font-family:"Roboto", sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-body h5{
    font-family:"Roboto", sans-serif;
}
.tarjeta {
    width: 300px;
    height: 300px;
    transition: all 0.5s ease;
}
.tarjeta:hover {
    transform: scale(1);
    padding:10px;
}
.inactive-card {
    filter: grayscale(100%);
    opacity: 0.5; 
    pointer-events: none; 
    user-select:none;
}
.card-title{
    height:75%;
    transform: scale(1);
}
h5{
    text-align:center;
}